# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.env

# Rust
core/target/
core/target_*/
**/*.rs.bk
core/*.txt
core/temp_test_project/

# JS / Node
node_modules/
.next/
dist/

# Project Specific
adversum.db
adversum_local.db
*.db
tmp_repos/
*.pyd
*.log
foundry_pocs/
default_pocs/

